.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard{
  overflow: auto;
  max-height: 90%;
}
// .table-overflow{
//   overflow: auto;
//   max-height: 300px;
// }