// .container{
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
// }

.cards-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// .dashboard{
//   overflow: auto;
//   max-height: 90%;
// }
th{
  background-color: rgb(230, 240, 230) !important;
  color: black;
}