form{
  max-width: 500px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 25px;
  // box-shadow: 0 5px 5px #e7e5e5;
  box-shadow: 0px 0px 16px 2px #d9d6d6;
}
p{
  font-size: 13px;
}

#links{
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}
span{
  color:red;
}