.landing-page{
    display: flex;
    width: 70%;
    margin: 50px auto;
}
img{
    max-width:45vw;
    height: 100%;
}
h1{
    width: 300px;
}
.sign-up{
    font-weight: bold;
}
.card{
    text-align: center;
    border: none;
}
// li{
//     list-style-type: none;
//     // text-align: left;
// }