<div class="landing-page col-lg-12 row mx-auto p-2">
    <div class="image col-lg-8 col-sm-12">
        <img src="../../../assets/finance.jpg" alt="finance Image">
    </div>
    <div class="details mt-5 col-lg-4 col-sm-12">
        <h1>Less stress when sharing expenses</h1>
        <p>keep track of your shared expenses and balances with housemates, trip, groups, friends and family.</p>
        <button class="btn btn-success sign-up" routerLink="register"> Sign Up</button>
    </div>
</div><br>

<div class="cards d-flex justify-content-evenly mb-5">
    <div class="card">
        <i class="fa fa-dollar fa-3x" aria-hidden="true"></i>
        <div class="card-body">
            <h3 class="card-title">Track Balances</h3>
            <p class="card-text">Keep track of shared expenses, balances, and who owes who.</p>
        </div>
    </div>
    <div class="card">
        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        <div class="card-body">
            <h3 class="card-title">Oragnize Expenses</h3>
            <p class="card-text">Split expenses with any group: trips, housemates, friends, and family</p>
        </div>
    </div>
    <div class="card">
        <i class="fa fa-list fa-3x" aria-hidden="true"></i>
        <div class="card-body">
            <h3 class="card-title">Add expenses easily</h3>
            <p class="cardinfo">Quickly add expenses on the go before you forget who paid.</p>
        </div>
    </div>
</div>
<footer class="bg-dark text-white pt-5 pb-5">
    <div class="container ">
        <div class="row">
            <div class="col-sm-2">
                <h5 class="text-uppercase text-success">Finance App</h5>
                <span><a class="footer-links" href="#">About</a></span><br>
                <span><a class="footer-links" href="#">Press</a></span><br>
                <span><a class="footer-links" href="#">Blogs</a></span><br>
                <span><a class="footer-links" href="#">Jobs</a></span>
            </div>
            <div class="col-sm-2">
                <h5 class="text-uppercase text-warning">Accounts</h5>
                <span><a class="footer-links" href="#">Login</a></span><br>
                <span><a class="footer-links" href="#">Sign Up</a></span><br>
                <span><a class="footer-links" href="#">Settings</a></span><br>
                <span><a class="footer-links" href="#">Reset Password</a></span>
            </div>
            <div class="col-sm-2">
                <h5 class="text-uppercase text-white">More</h5>
                <span><a class="footer-links" href="#">Contact Us</a></span><br>
                <span><a class="footer-links" href="#">FAQ</a></span><br>
                <span><a class="footer-links" href="#">Terms of Service</a></span><br>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4 mt-4">
                <p>Copyright &copy; All rights reserved by:
                    <a href="#" class="text-success"><strong>IncubXperts</strong></a>
                </p>
                <a href="#" class="text-white"><i class="fa fa-facebook me-2 fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-instagram me-2 fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-twitter me-2 fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-linkedin me-2 fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>