<div class="landing-page">
    <div class="details">
        <h1>Less stress when sharing expenses</h1>
        <p>keep track of your shared expenses and balances with housemates, trip, groups, friends and family.</p>
        <button class="btn btn-success sign-up" routerLink="register"> Sign Up</button>
    </div>
    <div class="image">
        <img src="../../../assets/finance.jpg" alt="finance Image">
    </div>
</div>

<div class="cards d-flex justify-content-evenly mb-5">
    <div class="card">
        <i class="fa fa-dollar fa-3x" aria-hidden="true"></i>
        <div class="card-body">
            <h3 class="card-title">Track Balances</h3>
            <p class="card-text">Keep track of shared expenses, balances, and who owes who.</p>
        </div>
    </div>
    <div class="card">
        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        <div class="card-body">
            <h3 class="card-title">Oragnize Expenses</h3>
            <p class="card-text">Split expenses with any group: trips, housemates, friends, and family</p>
        </div>
    </div>
    <div class="card">
        <i class="fa fa-list fa-3x" aria-hidden="true"></i>
        <div class="card-body">
            <h3 class="card-title">Add expenses easily</h3>
            <p class="cardinfo">Quickly add expenses on the go before you forget who paid.</p>
        </div>
    </div>
</div>
<footer class="bg-dark text-white pt-5 pb-5">
    <div class="container ">
        <div class="row">
            <div class="col-sm-2">
                <h5 class="text-uppercase text-success">Finance App</h5>
               <ul>
                <li>About</li>
                <li>Press</li>
                <li>Blogs</li>
                <li>Jobs</li>
                <li>Calculator</li>
               </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-uppercase text-warning">Accounts</h5>
                <ul>
                    <li>Log in</li>
                    <li>Sign Up</li>
                    <li>Reset Password</li>
                    <li>Settings</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-uppercase text-white">More</h5>
                <ul>
                    <li>Contact Us</li>
                    <li>FAQ</li>
                    <li>Terms of Service</li>
                </ul>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4 mt-4">
                <p>Copyright &copy; All rights reserved by:
                    <a href="#" class="text-success"><strong>IncubXperts</strong></a>
                </p>
                <a href="#" class="text-white"><i class="fa fa-facebook me-2 fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-instagram me-2 fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-twitter me-2 fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-linkedin me-2 fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>