.sidebar{
    height: 92vh;
    // width: 20vw;
    background-color: rgb(230, 240, 230) !important;
    border-radius: 0 !important;
  }
  a{
      font-size: 20px;
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

  a:hover{
    text-decoration: underline;
  }
  a:active{
    text-decoration: underline;
    color: red;
  }
  .YourClass{
    color: rgb(59, 150, 59);
    box-shadow: 0px 2px 5px #5d5c5c70;
    border-radius: 25px 25px;
    padding: 3px;
  }