<div>
    <div class="sidebar list-group pt-5 px-4">
        <a routerLink="dashboard" routerLinkActive="activeClass" class="ms-4 mt-3 mb-3"><span><i class="fa fa-tachometer ps-2" aria-hidden="true"></i></span>&nbsp;Dashboard</a>
        <a routerLink="allexpenses"  routerLinkActive="activeClass"  class="ms-4 mt-3 mb-3"><span><i class="fa fa-list ps-2" aria-hidden="true"></i></span>&nbsp;All Expenses</a>
        <a routerLink="groups"  routerLinkActive="activeClass" class="ms-4 mt-3 mb-3"><span><i class="fa fa-users ps-2" aria-hidden="true"></i></span>&nbsp;Groups</a>
        <a routerLink="friends"  routerLinkActive="activeClass"  class="ms-4 mt-3 mb-3"><span><i class="fa fa-user-plus ps-2" aria-hidden="true"></i></span>&nbsp;Friends</a>
    </div>
</div>