<button class="btn btn-success float-end m-4 shadow" routerLink="addfriend">Add Friend</button>
<div class="container col-lg-8 mt-4 pt-5">
    <table class="table text-center table-bordered shadow">
        <thead>
            <tr>
                <th>Friends Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tempfriendlist">
                <td>{{data.friendname}} ({{data.username}})</td>
                <td><button class="btn btn-danger"(click)="delete(data.username)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <button (click)="get()">Get</button> -->
