.loaderdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    // backdrop-filter: blur(2px);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.63)50%, rgba(255, 255, 255, 0.63)50%);

}
.spinner-border{
    width: 42px;
    height: 42px;   
    font-size: 25px;
}

