<!-- <div class="add-button"> -->
    <button class="btn btn-success m-4 shadow float-end" routerLink="add">Add Expenses</button>
<!-- </div> -->
<div class="container">
        <table class="table text-center shadow table-bordered table-hover">
            <thead class="sticky-top bg-white">
                <tr class="bg-secondary bg-gradient text-white">
                    <!-- <th>ID</th> -->
                    <th>Name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>PaidBy</th>
                    <th>Users</th>
                    <!-- <th>Friends ID</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exp of expenses | paginate: { itemsPerPage: 10, currentPage: pageNo };let i=index">
                    <!-- <td>{{exp.expensesId}}</td> -->
                    <td>{{exp.expenseName}}</td>
                    <td>{{exp.expenseDate | date : 'dd/MM/yyyy' }}</td>
                    <td>{{exp.amount}}</td>
                    <td>{{exp.paidBy}}</td>
                    <td>{{exp.userId}} </td>
                    <td>
                        <button class="btn btn-success me-2 shadow"(click)="edit(exp.expensesId)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn btn-danger shadow"(click)="deleteExpense(exp.expensesId)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageNo = $event" class="text-center"></pagination-controls>
</div>
<!-- <button (click)="getGroupExpense()">Get group id</button> -->