<form [formGroup]="registerForm">
    <h1>Sign Up</h1>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" placeholder="Enter Username" formControlName="UserName">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" placeholder="Enter Email Address" formControlName="Email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" formControlName="Password">
      </div>
      <div class="mb-2">
        <button class="btn btn-success fw-bold" (click)="registerDetails()">Register</button>
      </div>
      <div>
        <p>Already have an account? <span><a id="links" (click)="login()">Login</a></span></p>
      </div>
</form>
