// .sidebar{
//     width: 15%;
// }
.content{
    margin-top: 10px;
}
 .btn{
    border-radius: 50px !important;
    background-color: lightgrey !important;
    border: none;
    color: rgb(99, 99, 99) !important;
 }