<div class="dashboard container">
  <h1 class="text-center">Group Expenses</h1>
  <div class="container d-flex justify-content-center flex-wrap mt-4">
    <div class="card shadow m-2" style="width: 12rem; background-color: rgb(167, 205, 241); ">
      <div class="card-body">
        <h5 class="card-title">Total Expenses</h5>
        <p class="card-text" style="font-weight: bold;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> {{result}}/-
        </p>
      </div>
    </div>
    <div class="card shadow m-2" style="width: 12rem; background-color: rgb(153, 240, 210); ">
      <div class="card-body">
        <h5 class="card-title">Owe Amount</h5>
        <p class="card-text" style="font-weight: bold;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> {{oweAmount}}/-
        </p>
      </div>
    </div>
    <div class="card shadow m-2" style="width: 12rem; background-color: rgb(244, 169, 169);">
      <div class="card-body">
        <h5 class="card-title">Settle Amount</h5>
        <p class="card-text" style="font-weight: bold;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> {{settleAmount}}/-
        </p>
      </div>
    </div>
  </div>
  <div class="TabDetails pt-3 col-auto m-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link fw-bold active" aria-current="page" data-bs-toggle="tab" href="#groupExpenses">Group
          Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" data-bs-toggle="tab" href="#oweDetails">Owe Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" data-bs-toggle="tab" href="#settleDetails">Settle Details</a>
      </li>
    </ul>
    <div class="tab-content col-auto border rounded shadow">
      <div class="tab-pane " id="oweDetails">
        <div class="table-overflow p-2 mx-auto col-lg-10 mt-4">
          <!-- <h2>Owe Details</h2> -->
          <table class="table text-center align-middle table-bordered  shadow">
            <thead>
              <tr>
                <th>Expense Name</th>
                <th>Friend Name</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of showOweAmount | paginate: { id:'oweDetails' , itemsPerPage: 2, currentPage: pageNo };let i=index">
                      <td>{{result.ExpenseName}}</td>
                      <td>{{result.userName}}</td>
                      <td><span><i class="fa fa-inr" aria-hidden="true"></i></span> {{result.amount}}/-</td>
                    </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageNo = $event"  id="oweDetails" class="text-center"></pagination-controls>
        </div>
      </div>
      <div class="tab-pane" id="settleDetails">
        <div class="table-overflow p-2 mx-auto col-lg-10 mt-4">
          <!-- <h2>Settle Details</h2> -->
          <table class="table text-center align-middle table-responsive table-bordered shadow">
            <thead>
              <tr>
                <th>Expense Name</th>
                <th>Friend Name</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of showSettleAmount | paginate: { id:'settleDetails' , itemsPerPage: 2, currentPage: pageNo };let i=index">
                      <td>{{result.ExpenseName}}</td>
                      <td>{{result.userName}}</td>
                      <td><span><i class="fa fa-inr" aria-hidden="true"></i></span> {{result.amount}}/-</td>
                    </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageNo = $event" id="settleDetails" class="text-center"></pagination-controls>
        </div>
      </div>
      <div class="tab-pane active" id="groupExpenses">
        <div class="table-overflow mx-auto p-2 col-lg-10 mt-4 table-responsive">
          <table class="table text-center align-middle table-bordered">
            <thead>
              <tr>
                <th>Expense Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>PaidBy</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let groups of groupExpenses | paginate: { id:'groupExpenses' , itemsPerPage: 2, currentPage: pageNo };let i=index ">
                <td>{{groups.expenseName}}</td>
                <td>{{groups.amount}}</td>
                <td>{{groups.expenseDate | date : 'dd/MM/yyyy'}}</td>
                <td>{{groups.paidBy}}</td>
                <td>
                  <button class="btn btn-success m-1" (click)="editExpense(groups.expensesId)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button class="btn btn-danger" (click)="deleteGroupExpense(groups.expensesId)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageNo = $event" id="groupExpenses" class="text-center"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>