<div class="container mt-5 pt-5">
    <h2 class="col-lg-6 mx-auto">Add Friend</h2>
    <div class="select mt">
        <div class="col-lg-6 mx-auto " (mouseleave)=" mouseleavefunc($event)">
            <label class="form-label">Select People</label><br>
            <button class="drop-toggle btn"  (click)="showDropDown=!showDropDown">
                <i class="fa fa-angle-down"></i>
            </button><br>
            <span *ngIf="selectedlist.length>0"> <strong> Selected People:</strong> {{selectedlist.join(', ')}}</span>
            <div class="drop-show" *ngIf="showDropDown">
                <label class="form-label" *ngFor="let a of allUsers">
                    <input type="checkbox" [(ngModel)]="a.checked"
                    (change)="getSelectedValue(a.checked,a.userName,a.id)">
                    <span>{{a.userName}}</span>
                </label>
            </div><br>
            <button class="btn btn-success" (click)="addFriend()">Add Friend</button>
        </div>
    </div>
</div>