<div class="mx-auto mt-4 pt-4 col-sm-8 m-3">
    <h2>Edit Expense</h2>
    <form [formGroup]="expform"> 
        <div>
            <label for="expName" class="form-label">Expense Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="ExpenseName">
            <span class="alert" *ngIf="form['ExpenseName']?.errors?.['required'] && form['ExpenseName']?.touched">Expense Name is required</span>
        </div>
        <div>
            <label for="expAmount" class="form-label">Amount</label>
            <input type="text" class="form-control" placeholder="Amount" formControlName="Amount">
            <span class="alert" *ngIf="form['Amount']?.errors?.['required'] && form['Amount']?.touched">Amount is required</span>
            <span class="alert" *ngIf="form['Amount']?.errors?.['pattern']">Only Numbers Allowed</span>
        </div>
        <div>
            <label for="date" class="form-label">Date</label>
            <input type="date"  max="{{this.date}}" [value]="expform.controls['ExpenseDate'].value | date :'yyyy-MM-dd'" class="form-control" placeholder="Date" formControlName="ExpenseDate">
            <span class="alert" *ngIf="form['ExpenseDate']?.errors?.['required'] && form['ExpenseDate']?.touched">Date is required</span>
        </div>
        <div>
            <label for="paidby" class="form-label">Paid By</label>
            <select name="allusers" class="form-select" formControlName="PaidBy">
                <option *ngFor="let users of allUsers" [value]="users.id">{{users.userName}}</option>
            </select>
            <span class="alert" *ngIf="form['PaidBy']?.errors?.['required'] && form['PaidBy']?.touched">Select paidby user</span> 
        </div>

        <!-- <div>
            <input type ="text" class="form-control" formControlName="userId">
        </div> -->
        
        
        <div class="mt-2">
            <button class="btn btn-success me-2" (click)="updateExpense()">Update Data</button>
        </div>
        
    </form>
</div>

<!-- <div class="select">
    <div class="col-lg-6 mx-auto " (mouseleave)=" mouseleavefunc($event)">
        <label class="form-label">Select People</label><br>
        <button class="drop-toggle btn"  (click)="showDropDown=!showDropDown">
            <i class="fa fa-angle-down"></i>
        </button><br>
        <span *ngIf="selectedlist.length>0"> <strong> Selected People:</strong> {{selectedlist.join(', ')}}</span>
        <div class="drop-show" *ngIf="showDropDown">
            <label class="form-label" *ngFor="let a of allUsers">
                <input type="checkbox" [(ngModel)]="a.checked"
                (change)="getSelectedValue()" [defaultChecked]="selectedlist">
                <span>{{a.userName}}</span>
            </label>
        </div>
    </div>
</div> -->
    
