<div class="dashboard">
    <div class="container mt-3">
        <div class="card shadow m-2" style="width: 12rem; background-color: rgb(167, 205, 241); ">
            <div class="card-body">
              <h5 class="card-title">Total Expenses</h5>
              <p class="card-text" style="font-weight: bold;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> /- </p>
            </div>
        </div>
        <div class="card shadow m-2" style="width: 12rem; background-color: rgb(153, 240, 210); ">
            <div class="card-body">
              <h5 class="card-title">Owe Amount</h5>
              <p class="card-text" style="font-weight: bold;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> /-</p>
            </div>
        </div>
        <div class="card shadow m-2" style="width: 12rem; background-color: rgb(244, 169, 169);">
            <div class="card-body">
              <h5 class="card-title">Settle Amount</h5>
              <p class="card-text" style="font-weight: bold;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> /-</p>
            </div>
        </div>
    </div>
    <div class=" col-lg-8 mt-5 mx-auto">
        <h2 class="text-center p-2">Owe Details</h2>
        <table class="table text-center table-bordered shadow">
            <thead>
                <tr>
                    <th>Expense Name</th>
                    <th>Person Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Xyz</td>
                    <td>Parth</td>
                    <td>250/-</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class=" col-lg-8 mt-5 mx-auto">
        <h2 class="text-center p-2">Settle Details</h2>
        <table class="table text-center table-bordered shadow">
            <thead>
                <tr>
                    <th>Expense Name</th>
                    <th>Person Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Xyz</td>
                    <td>Parth</td>
                    <td>250/-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>