.add-button{
    display: flex;
    justify-content: flex-end;
}
th{
    background-color: rgb(230, 240, 230) !important;
    color: black;
}
.userCount {
    border: none;
    background-color: #dc3545;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 50%;
    height: 29px;
    text-align: center;

}